.achieve-wrapper {
    width: 100%;
    margin-top: 6vh;
}

.achieve-wrapper p {
    text-align: center;
    margin: 0px !important;
}

.goalText {
    font-size: 20px;
}

.progressRow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 62px;
}

.ant-progress-text {
    color: green !important;
}

p {
    color: green;
}

.prgbar {
    flex: 8;
}

.prizeIcon {
    color: green;
    display: inline-block;
    flex: 2;
    height: 100%;
    margin-right: 2vw;
}