.achieve-wrapper {
    width: 100%;
}

.progressRow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 50px;
}

.ant-progress-text {
    color: green !important;
}

p {
    color: green;
}

.prgbar {
    flex: 8;
}

.prizeIcon {
    color: green;
    display: inline-block;
    flex: 2;
    height: 100%;
}