.progressRow {
  width: 100%;
  align-items: center !important;
  justify-content: center !important;
  margin: 0px !important;
}

.ant-progress-text {
  color: green !important;
}

p {
  color: green;
}

.prizeIcon {
  color: green;
}
