.dashboardDiv {
    position: absolute;
    background-image: url(../images/backgroundGreen.png);
    height: 200vh;
    width: 150vw;
    z-index: -1;
    top: -12vh;
    left: 0vw;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

.navCards {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}

.subHeader {
    margin-bottom: 50px;
}