.toggle-data {
  display: flex;
  justify-content: space-evenly;
}

.circle {
  position: absolute;
  top: -30vh;
  left: -50vw;
  width: 200vw;
  height: 78vh;
  box-shadow: 3px 3px 15px -5px black;
  z-index: -1;
  overflow: hidden;
}

.mCircle {
  height: 75vh !important;
}

.cCircle {
  height: 85vh !important;
}

.circleGreen {
  background-image: linear-gradient(169.77deg, #81ecad -8.05%, #5db080 106.47%);
}

.circleRed {
  background-image: linear-gradient(169.77deg, #ff8383 -8.05%, #cf3939 106.47%);
}

.productCircle {
  position: absolute;
  top: 60vh;
}

.upperContainer {
  height: 100vh;
}

.u-caro-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 7.5vh;
}

.product-info-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 19vh;
}

.product-info-wrapper p {
  font-size: 16px;
  font-weight: 450;
}