.wrapper {
    height: 100vh;
}

.caro-wrapper {
    display: flex;
    justify-content: center;
}

.circle {
  position: absolute;
  top: -30vh;
  left: -50vw;
  width: 200vw;
  height: 78vh;
  box-shadow: 3px 3px 15px -5px black;
  z-index: -1;
  overflow: hidden;
}

.circleGreen {
  background-image: linear-gradient(169.77deg, #81ecad -8.05%, #5db080 106.47%);
}

.circleRed {
  background-image: linear-gradient(169.77deg, #ff8383 -8.05%, #cf3939 106.47%);
}

.hexa {
  background-image: url("../images/Polygon.svg");
  background-repeat: no-repeat;
  height: 58px;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexaText {
  text-align: center;
  vertical-align: middle;
}

.line {
  border: 10px solid black;
}
