.wrapper {
    height: 100vh;
}

.caro-wrapper {
    width: 100%;
}

.circle {
    position: absolute;
    top: -30vh;
    left: -50vw;
    width: 200vw;
    height: 78vh;
    box-shadow: 3px 3px 15px -5px black;
    z-index: -1;
    overflow: hidden;
}

.circleGreen {
    background-image: linear-gradient(169.77deg, #81ecad -8.05%, #5db080 106.47%);
}

.circleRed {
    background-image: linear-gradient(169.77deg, #ff8383 -8.05%, #cf3939 106.47%);
}

.formWrapper {
    margin-top: 3vh;
}

.ant-input {
    color: white;
    border-bottom: 1px solid #ffffff !important;
    font-size: 20px !important;
    font-weight: bold;
    padding: 0px 10px !important;
}

.timepicker-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh;
}

.ant-time-picker {
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.ant-time-picker-input {
    color: black;
    border-bottom: 0px !important;
    font-size: 20px !important;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 10px !important;
    text-align: center;
    margin-bottom: 0px !important;
}

.ant-time-picker-clock-icon {
    display: none !important;
}

.formSpan {
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

.timepicker-item {
    display: flex;
    align-items: center;
}

.bt-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

.btn-large {
    border-radius: 15px;
}

.productInfo {
    margin-top: 14vh;
    height: 100%;
}

.infoRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2vh;
    height: 10vh;
}

.hexa {
    background-image: url("../images/Polygon.svg");
    background-repeat: no-repeat;
    width: 17vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    background-size: contain;
}

.hexaText {
    display: flex;
    align-items: center;
    width: 70vw;
}

.infoRow p {
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 16px;
}