.containerClass {
  height: 100vh;
}

.circle {
  position: absolute;
  top: -30vh;
  left: -50vw;
  width: 200vw;
  height: 78vh;
  box-shadow: 3px 3px 15px -5px black;
  z-index: -1;
  overflow: hidden;
}

.circleGreen {
  background-image: linear-gradient(169.77deg, #81ecad -8.05%, #5db080 106.47%);
}

.circleRed {
  background-image: linear-gradient(169.77deg, #ff8383 -8.05%, #cf3939 106.47%);
}

.realtimeCircle {
  height: 70vh !important;
}

.hexaWhite {
  background-image: url("../images/PolygonWhite.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 49vw;
  height: 42vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 3vh;
}

.hexaWhite p {
  color: white;
  font-size: 40px;
  margin: 0px;
}

.forecastText {
  padding-top: 4vh;
}

.forecastText p {
  color: white;
  font-size: 20px;
  margin: 0px;
  text-align: center;
}

.forecastChart {
  position: absolute;
  bottom: 8vh;
}
