.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.input-field > label {
  color: white;
}

.input-field > input {
  border-bottom: 1px solid white !important;
  color: white;
}
