.smallCard {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 10px;
    background-color: white;
    height: 42vw;
    width: 42vw;
    border-radius: 10px;
    box-shadow: 3px 3px 15px -5px black;
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

.smGraph {
    padding-top: 10px;
    display: inline-block;
    overflow: hidden;
    padding-bottom: 15px;
}

.smGraph img {
    max-height: 100%;
}