.navBar-wrapper {
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: space-between;
}

.logo-wrapper {
    display: flex;
    align-items: center !important;
}

.title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBarTitle {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.logOut-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}