.slick-slider {
  width: 250px;
  justify-content: center;
}

.slick-slide {
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

.slick-active {
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

p {
  justify-content: center;
  text-align: center;
}

.slick-track {
  justify-items: center;
}
