.slick-list,
.slick-track {
  height: 100%;
}
.slick-slider {
  width: 250px;
  justify-content: center;
}

.slick-active {
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
}

p {
  justify-content: center;
  text-align: center;
}
