.wideCard {
    margin: 4vh auto;
    background-color: white;
    width: 90vw;
    border-radius: 10px;
    box-shadow: 3px 3px 15px -5px black;
}

.wideCardHeader {
    text-align: center;
    padding: 10px 10px;
}

.wideCardHeader p {
    font-size: 19px;
    margin: 0px;
    font-weight: 500;
    color: black;
}

.cardCont {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
    padding-right: 15px;
}

.content {
    width: 50%;
    padding-right: 12px;
    padding-left: 12px;
    height: 16vh;
    display: flex;
}

.content p {
    font-size: 16px;
    align-self: center;
    margin: 0px;
}